body {
  background-color: #212529;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Now the super main part */
/* this gets the whole scrollbar including the scrollbar area */
::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}
/* webkit scrollbar thumb is the part of the scrollbar which we hold to scroll  */
::-webkit-scrollbar-thumb {
  background: #606060;
  /* we got the background now lets make it round */
  border-radius: 100px;
}

#navbarScrollingDropdown1 {
  color: #bcbec0;
  padding-left: 0.5cm;
}

#body-screen {
  padding-top: 4cm;
}

#link {
  all: none;
  color: #bcbec0;
  text-decoration: none;
}
